:root {
    /* custom colors */
    --licorice: #170312;
    --mint-cream: #EAF2EF;
    --viridian: #6B9080;
    --coyote: #7C6354;
    --smoky-black: #0D090A;
    --mint-cream-light: #F3F8F6;
    --viridian-light: #AEC3BA;
    --coyote-light: #BDAA9E;
    --mint-cream-dark: #CAD7D2;
    --viridian-dark: #64786F;
    --coyote-dark: #665A52;
    --black: #0A0809;

  }

body {
    background-color: var(--mint-cream-light);
    font-family: 'Cinzel', serif;
    font-family: 'Lora', serif;
    color: var(--smoky-black)
}

/* HOVER COLOR CHANGES */

.hover-mint:hover {
    background-color: var(--mint-cream);

}

.hover-mint-dark:hover {
    background-color: var(--mint-cream-dark);
}

/* CUSTOM DISPLAY CSS */

.flex {
    display: flex;
}

.row {
    flex-direction: row;
}

.column {
    flex-direction: column;
}

.wrap {
    flex-wrap: wrap;
}

.no-wrap {
    flex-wrap: nowrap;
}

.justify-left {
    justify-content: left;
}

.justify-right {
    justify-content: right;
}

.justify-center {
    justify-content: center;
}
.align-center {
    align-items: center;
}
.text-center{
    text-align: center;
}
.text-left {
    text-align: left;
}
.text-right{
    text-align: right;
}

/* HEADER */

.header {
    background-color: var(--mint-cream-dark);
    position: fixed;
    top:0;
    width: 100%;
    height: 5%;
    margin-top: 10px;

}

.header-list-item {
    margin-left: 5%;
    margin-right: 10%;
    border: none;
    outline: none;
}

#name {
    margin-left: 5%;
}


/* COLLECTION DROPDOWN MENU */

.dropdown-content {
    display:none;
    z-index: 1;
    background-color: var(--viridian-light);
}

.dropdown:hover .dropdown-content {
    display:flex;
}

.collections-list-item {
    text-indent: 10px;
}

/* SECTIONS */

#section-container {
    padding-bottom: 10%;
    height: 100%;
    width: 100%;

}

.section {
    background-color: var(--coyote-light);
    width: 90%;
    margin-top: 10%;
    height: 300px;
}



/* FOOTER */

.footer {
    background-color: var(--mint-cream-dark);
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 2.5%;
    margin-bottom: 10px;
}

.footer:hover {
    background-color: var(--mint-cream);
    box-shadow: 6px 6px 1.5px .5px var(--mint-cream-dark);
}