:root {
    /* custom colors */
    --licorice: #170312;
    --mint-cream: #EAF2EF;
    --viridian: #6B9080;
    --coyote: #7C6354;
    --smoky-black: #0D090A;
    --mint-cream-light: #F3F8F6;
    --viridian-light: #AEC3BA;
    --coyote-light: #BDAA9E;
    --mint-cream-dark: #CAD7D2;
    --viridian-dark: #64786F;
    --coyote-dark: #665A52;
    --black: #0A0809;

  }

body {
    background-color: black;
    font-family: 'Cinzel', serif;
    font-family: 'Lora', serif;
    font-family: 'Nunito', sans-serif;
    color: var(--smoky-black);
}

/* HOVER COLOR CHANGES */

.hover-mint:hover {
    color: var(--mint-cream)

}

.hover-mint-dark:hover {
    color: var(--mint-cream-dark);
}

/* REUSABLE CUSTOM DISPLAY CSS */

.flex {
    display: flex;
}

.row {
    flex-direction: row;
}

.column {
    flex-direction: column;
}

.wrap {
    flex-wrap: wrap;
}

.no-wrap {
    flex-wrap: nowrap;
}

.justify-left {
    justify-content: left;
}

.justify-right {
    justify-content: right;
}

.justify-center {
    justify-content: center;
}
.align-center {
    align-items: center;
}
.text-center{
    text-align: center;
}
.text-left {
    text-align: left;
}
.text-right{
    text-align: right;
}
/* REUSABLE CUSTOM STYLES CSS */

.header-1 {
    font-size: 18px;
}

.style-link {
    text-decoration:none;
    color: var(--smoky-black);
}

.white-font {
    color: white;
}

/* HEADER */
.header {
    background-color: white;
    position: fixed;
    top:0;
    width: 100%;
    height: 5%;
    left: 0;
    z-index: 10;
}

.header-list-item {
    padding-top: 10px;
    margin-left: 5%;
    margin-right: 10%;
    border: none;
    outline: none;
}

.name {
    padding-top: 10px;
    margin-left: 5%;
    padding-right: 15px;
    font-size: 20px;
    font-weight: bold;
}

.capital-bold {
    font-size: 28px;
    font-weight: bolder;
}

/* COLLECTION DROPDOWN MENU */

.dropdown-content {
    display:none;
    z-index: 1;
    background-color: var(--viridian-light);
}

.dropdown:hover .dropdown-content {
    display:flex;
}


/* SECTIONS / MAIN CONTAINER */

#section-container {
    z-index: 0;
    padding-bottom: 10%;
    height: 100%;
    width: 100%;

}

.section {
    background-color: grey;
    width: 100%;
    margin-top: 10%;
    height: 300px;
}

#main-container {
    position: relative;
    margin-top: 20%;
    margin-left: 5%;
    margin-right:5%;
    margin-bottom: 20%;
    height: 100%;
    width:100%;
}

/* CONTACT */
#contact-form-section {
    height: 450px;
}

.contact-form-input {
    width: 35%;
}

#contact-form-message {
    width: 50%;
    height: 200px;
}

.contact-form-label {
    padding-bottom: 10px;
}
/* FOOTER */

.footer {
    background-color: var(--mint-cream-dark);
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 2.5%;
    left:0;
}

.footer:hover {
    background-color: var(--mint-cream);
    box-shadow: 6px 6px 1.5px .5px var(--mint-cream-dark);
}

/* NAV */

#nav-container {
    position: absolute;
    z-index: 1;
}

.nav-item {
    font-size: 30px;
    font-weight: 200;
    height: fit-content;
    list-style-type: none;
    padding-bottom: 3px;
    width: auto;
}

/* HOMEPAGE */

#homepage-container {
    position: absolute;
    z-index: 0;
    height: auto;
    background-color: black;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 1500px;
    margin:0;
}

#homepage-background-image {
    height: 80%;
    width: 80%;
}